* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d4d1d1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container1 {
    display: flex;
    justify-content: center;
    border-radius: 20%;
    flex-direction: column;
    padding: 30px;
}

.img1 {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    padding: 3px;
    border: 1px solid white;

}

.top {
    background-color: rgba(64, 112, 244, 255);
    padding: 30px;
    padding-bottom: 60px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border-bottom-right-radius: 0;
}

.top-container {
    background-color: white;
    width: 300px;
    border-radius: 30px;
    border-bottom-left-radius: 0;
}

.bottom {
    width: 300px;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: white;
    border-radius: 30px;
    border-top-left-radius: 0;
}

.bottom-container {
    background-color: rgba(64, 112, 244, 255);

    border-radius: 30px;
    border-top-right-radius: 0;
}

.b1 {
    padding: 10px;
    background-color: rgba(64, 112, 244, 255);
    color: white;
    border: 0px;
    width: 100px;
    margin: auto;
    display: block;
    margin-top: 10px;
    border-radius: 10px;
}

.b1:hover {
    cursor: pointer;
    background-color: rgb(8, 37, 117);
}